<div class="counter-container">
    <div class="value-container">
        <span>
            {{timeDistance.days}}
        </span>
        <span>
            Days
        </span>
    </div>
    <div class="value-container">
        <span>
            {{timeDistance?.hours}}
        </span>
        <span>
            Hours
        </span>
    </div>
    <div class="value-container">
        <span>
            {{timeDistance?.minutes}}
        </span>
        <span>
            Minutes
        </span>
    </div>
    <div class="value-container">
        <span>
            {{timeDistance?.seconds}}
        </span>
        <span>
            seconds
        </span>
    </div>
</div>