:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #c746d5;
        color: white;
        font-weight: 600;
      }
    
      .toolbar img {
        margin: 0 16px;
      }
    
      .toolbar #twitter-logo {
        height: 40px;
        margin: 0 16px;
      }
    
      .toolbar #twitter-logo:hover {
        opacity: 0.8;
      }

      .content {
          position: relative;
          top: 60px;
          display: flex;
          justify-content: center;
      }

      .nav-link {
        margin-left: 50px;
        font-size: 20px;
      }

  }